*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font: 1.025em courier;    color: white;
}


html, body{
    margin: 0;
    padding: 0;
    
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color:white;
    text-decoration: none;

}

.main-nav{
    padding: .5%;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: .15vh solid rgba(255, 255, 255, 0.3);
    
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.footer-nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.footer-nav li{
    padding: 0 5%;
    display: inline;
}

.footer-nav{
    padding: .5%;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-top:.15vh solid rgba(255, 255, 255, .3);
}

.footer-nav a{
    display: inline-block;
    padding: .5em;
    color:white;
    text-decoration: none;

}

.footer-nav ul{
    margin: 0;
}

.main-header{
    background-color: rgb(176, 176, 211);
    background-image: url(water1.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    

}

.school-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight:200;
}

.school-name-large{
    font-size: 4em;
}

.content-section{
    padding: 2em;
    margin: 5vh;
    text-align: center;    
}

.content-section h2{
    font-weight: 700;
    font-size: 25px;
}

.content-section h3{
    font-weight: 700;
    font-size: 20px;
}

.container{
    max-width: 900px;
    max-height: auto;
    margin: 0 auto;
    padding: 5em 1.5em;
}

.list-content{
    /*list-style-position: inside;*/
    list-style-position:outside;
    display:grid;
    row-gap: 8px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.Orlando{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.schedule-table{
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    text-align: center;

}

/*.classes-table{
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    text-align: center;
}*/

.classes-container{
    /*max-width: 400px;*/
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    gap: 15px 0px;
    

}
.home{
    font-size: 30;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

.class-item{
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;

}

.contact-info{
    /*max-width: 400px;*/
    padding: 3em;
    display: grid;
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    gap: 15px 2px;
    border: 1px black;

}

.item1 strong{
    font-weight: 800;
}

.info-item{
    text-align: center;
    column-gap: 2px;
    
}

.item1{
    /*grid-column: 1 / span 2;*/
    text-align: center;
    font-size: 25px;
}


.Classes-info h2{
    margin-top:7vh;
    font-size: 25px;
    font-weight: 700;
}